[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "debugbreak"]
	path = debugbreak
	url = https://github.com/jmpews/debugbreak
[submodule "dbgtools"]
	path = dbgtools
	url = https://github.com/wc-duck/dbgtools
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "cxx-prettyprint"]
	path = cxx-prettyprint
	url = https://github.com/jevinskie/cxx-prettyprint
